.sprite {
	width: 102px;
	height: 148px;
	margin-top: 20%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000008C;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 21px;
    text-decoration: none;
		font-family: 'Poor Richard';
		font-size: 40px;
		font-weight:bold;
}

li a:hover:not(.active) {
    background-color: #111;
}

li:last-child {
    border-right: none;
}
body {
    background-image: url("Romwell.jpg");
		 background-size: 100%;
    background-color: #cccccc;
}
.right {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/standing-right.png);
}

.left {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/standing-left.png);
}

.walk-right {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/walk-right.png);
	-webkit-animation: walk .9s steps(6) infinite;
	-moz-animation: walk .9s steps(6) infinite;
	-ms-animation: walk .9s steps(6) infinite;
	-o-animation: walk .9s steps(6) infinite;
	animation: walk .9s steps(6) infinite;
}

.walk-left {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/walk-left.png);
	-webkit-animation: walk .9s steps(6) infinite;
	-moz-animation: walk .9s steps(6) infinite;
	-ms-animation: walk .9s steps(6) infinite;
	-o-animation: walk .9s steps(6) infinite;
	animation: walk .9s steps(6) infinite;
}

@-webkit-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-moz-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-ms-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-o-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
