---
layout: default
---
        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo"><img src="images/logo.png" alt="auv-iitk" /></span>
            <span class="typedheader typed"></span> <!-- filled by main.js using typed.js -->
        </header>
        <div id="main">
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Who am I?</h2>
                        </header>
                        <p>I am a nerdy student living in the United Kingdom who wishes to share his thoughts in a collected area, for all to enjoy as they wish.<br> Hopefully this blog will become something I am proud of and not a forgotten meme! Thanks for stopping by :) </p>
                    </div>
                    <span class="image"><img src="images/vehicles/varun.jpg" alt="varun" /></span>
                </div>
            </section>
            <section id="subteams" class="main special">
                <header class="major">
                    <h2>What I Will Be Talking About</h2>
                </header>
                <ul class="features">
                    {% for item in site.subteam %}
                    <li>
                        <span class="icon major {{ item.iconstyle }} {{ item.icon }}"></span>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="third" class="main special">
                <header class="major">
                    <h2>AUV Competitions</h2>
                </header>
                    {% for item in site.competition %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    <a href="{{ item.link }}"><i>Read more...</i></a>
                    </p>
                    <br>
                    {% endfor %}
            </section>
            <section id="fourth" class="main special">
                <header class="major">
                    <h2>Research Collaborations</h2>
                </header>
                    {% for item in site.research %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    </p>
                    <br>
                    {% endfor %}
            </section>
        </div>
